[mcu makercoin]
serial: <YOUR COIN ID HERE>
#is_non_critical: true
#^only uncomment on Kalico

[temperature_sensor makercoin]
sensor_type: temperature_mcu
sensor_mcu: makercoin

[output_pin MC_ACT1]
pin: PA0
pwm: true
value: 1
shutdown_value: 0
cycle_time: 0.00084

[output_pin MC_ACT2]
pin: PA4
pwm: true
value: 1
shutdown_value: 0
cycle_time: 0.00084

[output_pin MC_ACT3]
pin: PA5
pwm: true
value: 1
shutdown_value: 0
cycle_time: 0.00084

[output_pin MC_ACT4]
pin: PB7
pwm: true
value: 1
shutdown_value: 0
cycle_time: 0.00084

[output_pin MC_ACT5]
pin: PB6
pwm: true
value: 1
shutdown_value: 0
cycle_time: 0.00084

[gcode_macro ShowMeWhatYouGot]
gcode:
    SET_PIN PIN=makercoin:MC_ACT3 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT2 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT1 VALUE=1
    G4 P200
    SET_PIN PIN=Mmakercoin:C_ACT4 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT5 VALUE=1
    G4 P200

    SET_PIN PIN=makercoin:MC_ACT3 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT2 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT1 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT4 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT5 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT3 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT2 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT1 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT4 VALUE=1
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT5 VALUE=1
    G4 P200

    SET_PIN PIN=makercoin:MC_ACT3 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT2 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT1 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT4 VALUE=0
    G4 P200
    SET_PIN PIN=makercoin:MC_ACT5 VALUE=0
    G4 P200
